html {
    max-width: 18cm;
    margin: auto;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    margin-top: 1cm;
}

p.my_descr {
    margin-bottom: 7mm;
    text-align: justify;
    max-width: 10cm;
    margin: auto;
}

p.contact_logos {
    text-align: center;
    font-size: x-large;
}

ul.interests_list > li {
    text-align: left;
    margin-bottom: 2mm;
}

p.project {
    margin-left: 5mm;
}

p.project_type {
    margin-top: -2mm;
}

p.tags_list {
    margin-top: -4mm;
    font-style: italic;
}

p.project_descr {
    margin-top: -2mm;
    text-align: justify;
}

hr.bold {
    border-top: 1px solid gray;
    margin-top: 7mm;
    margin-bottom: 7mm;
}

i.fa {
    color: black;
}
