html {
    max-width: 183mm;
    margin: auto;
}

b {
    font-weight: 650;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: 600;
}

h3 {
    margin-top: 1cm;
}

a {
    color: black;
}

section.cvsection {
    border-width: 1px;
    border-style: dashed;
}

p.my_descr {
    margin-bottom: 7mm;
    text-align: center;
    max-width: 10cm;
    margin: auto;
}

p.contact_logos {
    text-align: center;
    font-size: x-large;
}

p.table_of_contents > a {
    text-decoration:none;
    color:black;
    font-style: italic;
    margin-left: 5mm;
    margin-right: 5mm;
}

p.interests {
    text-align: left;
    margin: auto;
    max-width: 15cm;
}

li.interest_item {
    text-align: justify;
    margin: auto;
    max-width: 15cm;
}

ul.background > li {
    margin-bottom: 1mm;
    margin-right: 3mm;
}

summary.project_title {
    font-weight: 600;
    margin-left: 3mm;
}

p.project {
    margin-left: 5mm;
}

p.project_type {
    margin-top: -2mm;
    margin-left: 3mm;
}

p.tags_list {
    margin-top: -4mm;
    font-style: italic;
    margin-left: 3mm;
}

p.project_descr {
    margin-top: -2mm;
    text-align: justify;
    margin-left: 3mm;
    margin-right: 3mm;
}

p.project_note {
    margin-left: 3mm;
    margin-bottom: -2mm;
}

hr.bold {
    border-top: 1px solid gray;
    margin-top: 7mm;
    margin-bottom: 7mm;
}

i.fa {
    color: black;
}

p.footer {
    font-size: small;
    text-align: right;
}
