html {
    max-width: 183mm;
    margin: auto;
}

b {
    font-weight: 650;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.index_page {
    max-width: 140mm;
    margin: auto;
}

section.side_page {
    text-align: justify;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: 600;
}

h3 {
    margin-top: 1cm;
}

a {
    color: black;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.flex_cols_container {
    display: flex;
    flex-direction: column;
}

.right_column {
    margin-top: 2mm;
}

@media only screen and (min-width: 600px) {
    .flex_cols_container {
        flex-direction: row;
    }
    .left_column {
        width: 50%;
        margin-right: 4mm;
    }
    .right_column {
        width: 50%;
        margin-left: 4mm;
        margin-top: auto;
    }
}

.dash_boxed {
    border-width: 1px;
    border-style: dashed;
}

.dash_boxed > p {
    margin: 3mm;
}

section.general {
    text-align: justify;
    margin: 2mm;
}

p.my_descr {
    margin-bottom: 7mm;
    text-align: center;
    margin: auto;
}

a.page_button {
    font-size: medium;
    text-align: center;
    text-decoration: none;
    border-style: dashed;
    border-width: 1px;
    border-radius: 8px;
    padding: 3px;
    margin-left: 5mm;
    margin-right: 5mm;
}

p.contact_logos {
    text-align: center;
    font-size: x-large;
}

p.table_of_contents > a {
    text-decoration:none;
    color:black;
    font-style: italic;
    margin-left: 5mm;
    margin-right: 5mm;
}

p.interests {
    text-align: left;
    margin-left: 3mm;
}

li.interest_item {
    text-align: justify;
    margin-right: 3mm;
}

ul.background > li {
    margin-bottom: 1mm;
    margin-right: 3mm;
}

summary.project_title {
    font-weight: 600;
    margin-left: 3mm;
}

p.project {
    margin-left: 5mm;
}

p.project_type {
    margin-top: -2mm;
    margin-left: 3mm;
}

p.tags_list {
    margin-top: -4mm;
    font-style: italic;
    margin-left: 3mm;
}

p.project_descr {
    margin-top: -2mm;
    text-align: justify;
    margin-left: 3mm;
    margin-right: 3mm;
}

p.project_note {
    margin-bottom: -2mm;
}

hr.bold {
    border-top: 1px solid gray;
    margin-top: 7mm;
    margin-bottom: 7mm;
}

i.fa {
    color: black;
}

pre.snippet {
    background-color: whitesmoke;
    border: 1px solid black;
}

p.header {
    font-size: small;
    text-align: left;
}

p.footer {
    font-size: smaller;
    text-align: right;
    margin-top: -1mm;
}
